.container {
  width: 850px;
  height: 600px;
  /*  border-style: dotted; */
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.user-info {
  width: 300px;
  height: 300px;
  /*  border-style: dotted; */
}

.title {
  color: black;
  margin-top: 5px;
  margin-left: 3px;
}

.stats {
  color: black;
  margin-bottom: 3px;
  font-size: 20px;
  margin-left: 3px;
}

#added-count {
  margin-top: -10px;
}

#bookmarked-count {
  margin-top: -10px;
}

.added-movies {
  position: relative;
  margin-left: 3px;
  bottom: 25%;
  /* border-style: dotted; */
  height: 330px;
}

.m-added {
  margin-top: -10px;
}

.small-movie {
  height: 180px;
  width: 150px;
  margin-left: 3px;
}

img {
  height: 180px;
  width: 150px;
}

.small-movies {
  display: flex;
}

.movie-title { 
    position: relative;
    bottom: 2%;
}