.container {
  width: 850px;
  height: 600px;
  /*  border-style: dotted; */
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.user-info {
  width: 300px;
  height: 300px;
  /*  border-style: dotted; */
}

.title {
  color: black;
  margin-top: 5px;
  margin-left: 5%;
}

.stats {
  color: black;
  margin-bottom: 3px;
  font-size: 20px;
  margin-left: 5%;
  position: relative;
}

#added-count {
  margin-top: -10px;
}

#bookmarked-count {
  margin-top: -10px;
}

.added-movies {
  height: 330px;
  width: 600px;
  position: relative;
  margin-left: 1.6%;
  position: center;
  bottom: 25%;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.your-movies-title {
  position: relative;
  left: 5px;
  bottom: 15px;
}

.m-added {
  position: relative;
  left: 5px;
  bottom: 16px;
  margin-top: -10px;
}

.small-movie {
  height: 180px;
  width: 150px;
  position: relative;
  bottom: 15px;
  margin-right: 5px;
  left: 5px;
}

img {
  height: 180px;
  width: 150px;
}

.small-movies {
  display: flex;
}

.movie-title {
  position: relative;
  bottom: 2%;
}
