.navbar {
  justify-content: space-between;
  position: relative;
  padding: 1rem;
}

.test {
  background-color: none;
}

.home-btn {
  text-decoration: none;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
