<mat-toolbar color="primary">
  <a class="home-btn" mat-button routerLink="/">Home</a>
  <div class="spacer"></div>
  <ng-container *ngIf="isLoggedIn"> <span class="greet"> Welcome, {{user!.email}}! </span></ng-container>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <ng-container
      *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"
    >
    </ng-container>
  </mat-menu>

  <ng-template #loggedInTemplate>
    <a mat-menu-item routerLink="/movie/create">Add Movie</a>
    <a mat-menu-item routerLink="/auth/profile">Your activity</a>
    <a mat-menu-item routerLink="/auth/edit-profile">Edit Profile </a>
    <a (click)="logout()" mat-menu-item  >Logout</a>
  </ng-template>

  <ng-template #loggedOutTemplate>
    <a mat-menu-item routerLink="/register">Sign Up</a>
    <a mat-menu-item routerLink="/login">Login</a>
  </ng-template>
</mat-toolbar>
