.spacer {
  flex: 1 1 auto;
}

.home-btn {
  font-size: 20px;
}

.greet {
  margin: 0px;
  padding: 0px;
  padding-left: 1150px;
  border: 0px none;
  font: inherit;
  vertical-align: baseline;
  font-size: 16px;
}
