<mat-toolbar color="accent" class="navbar">
  <span>
    <a class="home-btn" routerLink="/">Movies</a>
  </span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <ng-template matMenuContent #loggedInTemplate>
    <a mat-menu-item routerLink="/">Profile</a>
    <a mat-menu-item routerLink="/myList">My List</a>
    <a mat-menu-item routerLink="/logout">Logout</a>
  </ng-template>

  <ng-template matMenuContent #loggedOutTemplate>
    <a mat-menu-item routerLink="/login">Login</a>
    <a mat-menu-item routerLink="/register">Sign Up</a>
  </ng-template>

  <mat-menu #menu>
    <ng-container
      *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"
    ></ng-container>
  </mat-menu>
</mat-toolbar>
