.container {
  width: 40%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 5%;
}

img {
  height: 180px;
  width: 150px;
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.movie-card {
  display: flex;
  position: aboslute;
  border-style: solid;
  border-width: thin;
  background-color: white;
}

.movie-title {
  position: relative;
  bottom: 21px;
  left: 5px;
}

.reactions {
  margin-left: 20px;
  display: flex;
  position: relative;
}

.likes-count {
  position: relative;
  left: 7px;
  bottom: 3px;
  font-size: 140%;
}

.reaction-down {
  left: 15px;
  position: relative;
}

.dislikes-count {
  position: relative;
  left: 20px;
  bottom: 3px;
  font-size: 140%;
}
