.container {
  position: relative;
  width: 800px;
  margin-bottom: 5%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  background-color: white;
  bottom: 20px;
}

.movies {
  display: flex;
}

h2 {
  font-size: 30px;
  text-align: center;
}
