<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="accent">REGISTER</mat-toolbar>
    <div class="spacer"></div>

    <form class="register-form">
      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input type="email" matInput />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input type="email" matInput />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="email" matInput />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Repeat Password</mat-label>
        <input type="email" matInput />
      </mat-form-field>

      <div class="socialMediaFlex">
        <button
          style="width: 25%"
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="form.invalid"
        >
          Submit
        </button>
        <div class="spacer-reg"></div>
        <p class="text-center">
          Have an account?
          <a routerLink="/auth/login">Log In</a>
        </p>
      </div>
    </form>
  </div>
</div>
