.login-container {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

.register-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field {
  width: 100%;
}

.spacer-reg {
  flex: 1 1 auto;
}

.socialMediaFlex {
  display: flex;
}

.spacer-reg {
  margin-left: 10px;
}

.spacer {
  margin-top: 20px;
}
