<!-- <div *ngIf="isLoading$ | async">Loading...</div> -->
<form
[formGroup]="form"
(ngSubmit)="onComment()"
>
  <div class="write-comment">
    <mat-form-field id="write-comment-input">
      <mat-label>Comment</mat-label>
      <input type="text" matInput formControlName="content"  />
    </mat-form-field>
    <button class="submit-btn" mat-raised-button color="accent" >Submit</button>
  </div>
</form>

<div class="container">
  <div class="comment-box" *ngFor="let comment of comments$ | async">
    <p class="comment-text">{{ comment.content }}</p>
  </div>
</div>
