.container {
  max-width: 800px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  height: auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.write-comment {
  text-align: center;
  margin-top: 30px;
  margin-left: 90px;
}

#write-comment-input {
  width: 500px;
}

.submit-btn{
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.comment-box {
  border-style: solid;
  border-width: thin;
  height: auto;
  max-height: 40px;
}

.comment-text {
  margin-left: 5px;
}
