<div class="container">
  <div class="movie-card" *ngFor="let movie of list$ | async">
    <div class="img">
      <img src="{{ movie.imageUrl }}" />
      <div class="container-specs">
        <h2 class="title">
          <a routerLink="/movie/{{ movie._id }}">{{ movie.title }}</a>
          <div class="reactions">
            <div class="thumb-up">
              <mat-icon>thumb_up</mat-icon>
              <div class="positive-num">{{ movie.likes.length }}</div>
            </div>
            <mat-icon>thumb_down</mat-icon>
            <div class="negative-num">{{ movie.dislikes.length }}</div>
          </div>
        </h2>
      </div>
    </div>
    <div class="description">
      <p>{{ movie.description }}</p>
      <button mat-raised-button color="accent" (click)="deleteMovie(movie._id)">delete</button>
    </div>
  </div>
</div>
