/* You can add global styles to this file, and also import other style files */

body {
  background-image: url(./assets/blurred.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  /* height: calc(100vh - 5rem); */
  height: calc(100vh - 5rem);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
