.example-card {
  width: 300px;
  height: 100%;
  max-height: 500px;
  margin-left: 10px;
  margin-top: 15px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

img {
  width: 235px;
  height: 200px;
  margin-top: 25px;
  margin-left: 15px;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

