.example-card {
  max-width: 300px;
  margin-left: 10px;
  margin-top: 10px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card {
  display: inline-block;
}

img {
  width: 235px;
  height: 200px;
  margin-top: 25px;
  margin-left: 15px;
  justify-content: center;
}

.home-cards {
  justify-content: center;
}
