.example-card {
  width: 300px;
  height: 100%;
  max-height: 500px;
  margin-left: 10px;
  margin-top: 15px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

img {
  width: 75%;
  height: 20vw;
  padding-left: 10px;
  padding-top: 10px;
  object-fit: cover;
}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.mat-mdc-card-header {
  padding: 5 5 5 5;
}

h2 {
  position: absolute;
  top: 90%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-style: italic;
}

.buttons {
  position: absolute;
  top: 95%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

a { 
  margin: 5px;
}

