.container {
  max-width: 400px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  height: 500px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

img {
  position: relative;
  width: 200px;
  height: 300px;
  left: 10px;
}

mat-icon {
  color: rgb(241, 172, 53);
}

.specs {
  left: 55%;
  top: 7%;
  position: absolute;
}

h2 {
  left: 10px;
  position: relative;
}

.description {
  position: relative;
  left: 10px;
}
