<div class="container">
  <h2>{{ movie?.title }}</h2>
  <div class="specs">
   
    <img src="{{ movie?.imageUrl }}" alt="{{ movie?.title }}" />
    <div class="text">
      <ng-template ngFor let-item [ngForOf]="arr" let-i="index">
        <mat-icon>star</mat-icon>
      </ng-template>
      <p>Genre: {{ movie?.genre }}</p>
      <p>Year: {{ movie?.year }}</p>
      <p>Actors: {{ movie?.actors }}</p>
    </div>
  </div>

  <div class="description">
    <p>
      {{ movie?.description }}
    </p>
  </div>
</div>
