<div class="container">
  <h2>{{ movie?.title }}</h2>
  <img src="{{ movie?.imageUrl }}" alt="Photo of a movie" />
  <div class="specs">
    <div class="text">
      <p>Rating:</p>
      <ng-template ngFor let-item [ngForOf]="arr" let-i="index">
        <mat-icon class="star">star</mat-icon>
      </ng-template>
      <p>Genre: {{ movie?.genre }}</p>
      <p>Year: {{ movie?.year }}</p>
      <p>Actors: {{ movie?.actors }}</p>
      <p>Director: {{ movie?.directors }}</p>
      <div class="ratings">
        <div class="thumb_up">
          <mat-icon>thumb_up</mat-icon>
          <div class="like_count">{{ movie?.likes?.length }}</div>
        </div>
        <div class="thumb_down">
          <mat-icon>thumb_down</mat-icon>
          <div class="dislike_count">{{ movie?.dislikes?.length }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="description">
      <p>
        {{ movie?.description }}
      </p>
    </div>

    <div>
      <ng-container
        *ngTemplateOutlet="isOwner ? ownerTemplate : notOwnerTemplate"
      >
      </ng-container>
    </div>
  </div>

  <ng-template #ownerTemplate>
    <button class="edit-btn" mat-raised-button routerLink="edit">Edit</button>
    <button mat-raised-button (click)="deleteMovie(this.movie!._id)">
      Delete
    </button>
  </ng-template>

  <ng-template #notOwnerTemplate>
    <button class="share-btn" mat-raised-button>Share</button>
    <button mat-raised-button>Comment</button>
    <button class="watchlist-btn" mat-raised-button (click)="addMovie()" >Add to watchlist</button>

  </ng-template>
</div>
