.container {
  width: 500px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  height: 500px;
  background: teal;
}

img {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 30px;
  left: 10px;
}
